body {
    color: #000;
    font-family: 'Lato'
}

h1 {
    font-size: 400%;
    font-weight: 300;
}

h1, h2, h3, h4{
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

h2, h3 {
    color: #27D79D;
}

h4 {
    font-size: 110%;
}

.logo {
    display: block;
    max-width: 100px;
    margin: 50px auto;
}

#radar {
    display: block;
    margin: auto;
}

section.description {
    margin-bottom: 100px;
}